<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion&lt;</key>
	<string>1</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SafeHaven needs access to your photo library to import and store your important documents.</string>
	<key>NSCameraUsageDescription</key>
	<string>SafeHaven needs camera access to take photos of your important documents for secure offline storage</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SafeHaven needs your location to provide weather and resource information.</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.rodriguez.travis.SafeHaven</string>
	</array>
	<key>NSWeatherKitUsageDescription</key>
	<string>SafeHaven uses weather data to provide safety recommendations</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>rodriguez.travis.SafeHaven</string>
	<key>CFBundleName</key>
	<string>SafeHaven</string>
	<key>CFBundleDisplayName</key>
	<string>SafeHaven</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launch-background</string>
		<key>UIColorName</key>
		<string>launch-background-color</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSWeatherUsageDescription</key>
	<string>SafeHaven can use your location to provide nearby resources. Location is completely optional - you can manually select a city if you prefer.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
